:root {
  --clr-primary-hsl-400: 26 100% 55%;
  --clr-primary-hsl-300: 25 100% 94%;

  --clr-neutral-hsl-700: 220 13% 13%;
  --clr-neutral-hsl-600: 219 9% 45%;
  --clr-neutral-hsl-500: 220 14% 75%;
  --clr-neutral-hsl-400: 223 64% 98%;

  --clr-neutral-hsl-white: 0 0% 100%;
  --clr-neutral-hsl-black: 0 0% 0%;

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-primary: "Kumbh Sans", sans-serif;

  --fs-100: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: hsl(var(--clr-neutral-hsl-600));
  line-height: 1.5;
}

body {
  margin-inline: min(8rem, 11vw - 2rem);
}

.wrapper {
  border-bottom: 2px solid hsl(var(--clr-neutral-hsl-400));
  height: 6rem;
  display: grid;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: min(4rem, 5vw - 1rem);
}

.primary-navigation {
  align-self: stretch;
  display: grid;
  flex: 2;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: min(2rem, 5vw - 1rem);
  align-items: stretch;
}

a {
  text-decoration: none;
  color: hsl(var(--clr-neutral-hsl-600));
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-list a:hover {
  border-bottom: 4px solid hsl(var(--clr-primary-hsl-400));
  color: hsl(var(--clr-neutral-hsl-700));
}

.primary-navigation {
  flex: 2;
}

.avatar {
  max-width: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 0 2px hsl(var(--clr-primary-hsl-400));
  cursor: pointer;
}

.cart-icon:hover {
  cursor: pointer;
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  min-width: fit-content;
}

@media (max-width: 38rem) {
  .primary-navigation {
    display: none;
  }
  .nav-container {
    gap: 2rem;
    padding: 0rem 2rem;
  }
  body {
    margin-inline: 0;
  }
  .mobile-nav-toggle {
    display: block;
    min-width: fit-content;
    position: relative;
    z-index: 2;
  }
  .logo {
    flex: 1;
  }
  .nav-list {
    flex-direction: column;
    color: hsl(var(--clr-neutral-hsl-700));
    font-weight: var(--fw-bold);
    gap: 1rem;
  }
  .primary-navigation[data-visible] {
    display: block;
    position: fixed;
    background-color: hsl(var(--clr-neutral-hsl-white));
    inset: 0 25% 0 0;
    padding: 8rem 2rem;
    z-index: 1;
  }
  img[hidden] {
    display: none;
    width: 5rem;
  }
  .primary-header[data-overlay]::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: hsl(var(--clr-neutral-hsl-black) / 0.75);
  }
}
